.pattern {
    background: #72b0e6;
    background-repeat: repeat;
    background-image: none;
    background-image: url('./img/pattern.png');
    background-repeat: repeat-x;
    height: 11rem;   
}

.logo {
    background-position: bottom;
    height: 40%;
    margin-top: 6rem;
    margin-left: 1rem;
}

.editor {
    color: #1693b9;
}

.yellow-text {
    background-color: #ffff00;
}

.table {
    text-align: left;
}

.table-space {
    width: 11rem;
}

.bg-blue {
    background-color: #1693b9;
}

.white-text {
    color: #ffffff
}

.bg-aqua {
    background-color: aqua;
}
